{% extends 'base-backend.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>Pseudo</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>Biography</th>
                <th>Birthdate</th>
                <th>DateOfDeath</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.pseudo }}</td>
                <td>{{ author.imageName }}</td>
                <td>{{ author.updatedAt ? author.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.biography }}</td>
                <td>{{ author.birthdate ? author.birthdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.dateOfDeath ? author.dateOfDeath|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ author.slug }}</td>
                <td>
                    <a href="{{ path('app_admin_author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('app_admin_author_edit', {'id': author.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_author_new') }}">Create new</a>
{% endblock %}
